#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";
    
    default_layer {
      display-name = "default";
      bindings = <
        &kp C_PLAY_PAUSE
        &kp C_PREV
        &kp C_NEXT
        &mo 1
      >;

      sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
    };

    fn_layer {
      display-name = "fn";
      bindings = <
        &trans
        &trans
        &trans
        &trans
      >;

      sensor-bindings = <&inc_dec_kp C_FF C_RW>;
    };
  };

  combos {
    compatible = "zmk,combos";
    combo_bootloader {
      timeout-ms = <500>;
      key-positions = <0 1>;
      bindings = <&bootloader>;
    };
  };
};
